.sidenav-content {
  width: 80%;
  height: 100%;
  min-width: 500px;
  min-height: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.left-sidenav md-sidenav {  
  max-width: 20%;
}

.left-sidenav 
.sidenav-container md-sidenav {
  display: flex;
  overflow: visible;
}

.main-container {
  overflow: auto;
}

.fab-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
}